{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    <script src="index.js"></script>
</head>

<body>
    <!-- Please typing your favorite word!-->
    <div id="ui">
        <!-- Please typing your favorite word!-->
        <div id="ui">
            <!-- Please typing your favorite word!-->
            <div id="ui">
                <!-- Please typing your favorite word!-->
                <div id="ui">
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                    <div class="text">CRYPT&gt;.PY</div>
                </div>
            </div>
        </div>
    </div>

</html>