{% extends 'index.html' %}
{% block content %}

{% if level == 0 %}
<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>0</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > Answer size ? </p>
<!-- size? onetwothree -->

{% elif level == 1 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>1</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1Whb5p4N8ROlap7LkoLdduXxblj3ymaEb/view"> image </a>


{% elif level == 2 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>2</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://www.youtube.com/c/KRSNAOfficial/"> video </a>
<!-- The first drop of the year! -->

{% elif level == 3 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>3</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > insta : innovate -  “tech talk” </p>
<p style="text-align: center; margin-top: 10px;" > I wrote something for you. </p>

{% elif level == 4 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>4</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/12WRreM8n5f1lpJ_Cax9DA7LBcfJ0fksQ/view"> image </a>

{% elif level == 5 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>5</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > +33_93216_59    #Thala For a reason </p>

{% elif level == 6 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>6</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1wjhReQVaulkRtOHHD5hUOeuS8h51eQbp/view"> image </a>
<!-- 71 minute -->

{% elif level == 7 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>7</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/19cTM0nmpGJsaM_Fnx5-MX4qFJ9tHozI4/view"> image </a>

{% elif level == 8 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>8</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1cVvdDwVHcl4gOzSIcDW8IWFEZxbx_ToF/view"> video </a>

{% elif level == 9 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>9</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1XUtsK2n0OsVvb_I-KwIGMeV80uoipZgx/view"> image </a>

{% elif level == 10 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>10</span>
    </div>
</div>
<div><img style="left: 25%; position: relative; width: 50%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbIb7pL3aurmjVlMpTfeFPTynF9FZr3gJ8PTpHiHHDuKPnomOJdvzykSMO1m3kIB--oJCTcosk5tzQa0Cjf3qmKFp3Zy0oxtQ=w1920-h868"></div>

{% elif level == 11 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>11</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > You might hate to hear this, </p>
<p style="text-align: center; margin-top: 30px;" > but you've laughed alot on this phrase on dunderpedia </p>

{% elif level == 12 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>12</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYdEl_3mRCcr_Ul6SIQJP_wcXHQ4D0hQj_63A7a85mi-c3YyQ2Vmt0lTPUzqImtL48S9KbtAKo4bf7lqxzrzmDDiUrTAiJbDzg=w1427-h868-rw-v1"></div>

{% elif level == 13 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>13</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZWlU6ucGZEg_u9FWkUmw6MnqnWXvi_Y4jVb9hNN9Iv2OPCxeCY94hBhWKPP_SDfHIqjm-oIemSA37AFUVW6_Wgo2e__mve14s=w1920-h868"></div>

{% elif level == 14 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>14</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1YD4HtPWFSJPJnWVbDiN7o5pcEneYzotf/view"> scroll </a>

{% elif level == 15 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>15</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1PRn0dzqvAuAHcl31G66jxQu29cgqpuLF/view"> text-file </a>

{% elif level == 16 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>16</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > 3SSlluM </p>

{% elif level == 17 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>17</span>
    </div>
</div>
<div><iframe style="margin-top: 30px;" src="https://whyp.it/tracks/embed?id=171621" width="100%" height="200" scrolling="no" frameborder="0"></iframe></div>

{% elif level == 18 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>18</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZENC4X24XJn-XBVR1ZUjO5QQ3rGLJvmNwjl9sOmdqPlQ1K60GKVbNCvpQhPivfOoPTmSibLrMVuISQbGiFev5nVd6aKOTtPhE=w1920-h868"></div>
<a style="text-align: center; margin-top: 10px; color: white;" target="_blank"  href="https://drive.google.com/file/d/19coOjvNnz9kQzavV82lDmdt-1c1ZlhXl/view?usp=sharing"> It's me not you! </a>
{% elif level == 19 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>19</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1-U6mF2SFcJUhSRXHUwr3VqRK93oq2zJ-/view"> Varun Batra </a>
{% elif level == 20 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>20</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZitXP6QRaRnkT4IlFoNLUZGpTKMNB_yOlEFYhnbVnqQrAQPVyjYO8vVaOsGW1G1NuwlBUDxG8O3xxmFEyxGH5aIpukNKxpYU0=w1920-h868-rw-v1"></div>
{% elif level == 21 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>21</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbMKBofXeMakYYsKaIoRAHyp2KLy-DOq6HQAB835Oa03a4GB2FnzqLDtxkFoDtubdLcUXSJhQhvzQLzKib0BpEDQwpXiha4aw=w1920-h868-rw-v1"></div>

{% elif level == 22 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>22</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihaW69RMrwJHGeS0Uz6OTcLxiYJJQnNXR1_gd5XiL2qY0ye7WspeyXcd_SRQ8q_IuTlx_8B4tC-BefetaONsCSAGY1HZf_8ts5w=w1920-h868-rw-v1"></div>

{% elif level == 23 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>23</span>
    </div>
</div>
<div><img style="left: 35%; position: relative; width: 30%; margin-top: 30px; color: white;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpiha_Bu1ht0Wvxqm8bN8YZkOK04knfiuiWNP_L7LL1vYFW9zxytbHkFiIqSku4o4kZPog1R7wfSlCNhONmwLn4DM5Iz2mspje0tU=w1920-h868"></div>
{% elif level == 24 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>24</span>
    </div>
</div>
<a style="text-align: center; margin-top: 10px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1toS1ARGnHwqDUw9jLFqDIMjmANBlsqzh/view"> image </a>
{% elif level == 25 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>25</span>
    </div>
</div>
<a style="text-align: center; margin-top: 10px; color: white;" target="_blank"  href="https://drive.google.com/file/d/11wPp6qwwn6UEwbquGI7TLpuDm11-1TsN/view"> OHhhhhhhhhhhhhhhhhh </a>

{% elif level == 26 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>26</span>
    </div>
</div>
<a style="text-align: center; margin-top: 10px; color: white;" target="_blank"  href="https://drive.google.com/file/d/1YF3r3QRKdexW7pTG3hU6_NIlGBNn7h5I/view"> image </a>

{% elif level == 27 %}
<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>27</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://drive.google.com/file/d/17OzFfKQ4RmriFKra9_VXwg9L1SGb7lxi/view"> image </a>

{% elif level == 28 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>28</span>
    </div>
</div>
<a style="text-align: center; margin-top: 30px; color: white;" target="_blank"  href="https://pastebin.com/2NaY6dvW"> 2453772875655477743085794577244260246568558862 </a>

{% elif level == 29 %}

<div class="quesContainer">
    <span class="next"></span>
    <span class="prev"></span>
    <div id="box">
        <span>29</span>
    </div>
</div>
<p style="text-align: center; margin-top: 30px;" > Title: <a href="https://whyp.it/tracks/172249/airline-mayday-call-and-tower-sound" target="_blank" style="text-decoration: none ;color: red;cursor:default;">SOS</a> in the Skies </p>

{% elif level == 30 %}

<h1 style="text-align: center; margin-top: 30px;" > GAME END </h1>
<style>
    #submit-id{
        display: none!important;
    }
</style>
{% endif %}
<br>
<br>
<form id="submit-id" action="{% url 'questions' %}" method="POST">
    {% csrf_token %}
    <div class="lvl-form">
        <input type="text" id="answer" name="answer" class="lvl__input" autocomplete="off" placeholder=" ">
        <label onclick="notifyError()" for="answer" class="lvl__label">Answer</label>
    </div>
    <div class="ans-container">
        <button class="ans-button">Submit</button>
    </div>
</form>

<div id="notification-area"></div>

<script>
    function notify(type, message) {
      (() => {
          let n = document.createElement("div");
          let id = Math.random().toString(36).substr(2, 10);
          n.setAttribute("id", id);
          n.classList.add("notification", type);
          n.innerText = message;
          document.getElementById("notification-area").appendChild(n);
          setTimeout(() => {
              var notifications = document
                  .getElementById("notification-area")
                  .getElementsByClassName("notification");
              for (let i = 0; i < notifications.length; i++) {
                  if (notifications[i].getAttribute("id") == id) {
                      notifications[i].remove();
                      break;
                  }
              }
          }, 5000);
      })();
  }
</script>

{% for message in messages %}
<script>
    function notifymsg() {
      notify("{{message.tags}}", "{{message}}");
  }
    notifymsg();
</script>
{% endfor %}
{% endblock content %}